body {
<<<<<<< HEAD
    background-image: url('imagenweb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
=======
>>>>>>> e4ab9e5aa22557532876aaf94b386a3e47dfc982
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

.curso-info, .temas {
    padding: 20px;
    margin: 20px;
<<<<<<< HEAD
    background-color: rgb(20, 200, 110);
=======
    background-color: white;
>>>>>>> e4ab9e5aa22557532876aaf94b386a3e47dfc982
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "→ ";
    color: #007bff;
}
<<<<<<< HEAD
#miGif {
    position: fixed;
    bottom: 0;
    width: 30%; /* Ajusta esto a la anchura que desees */
    height: auto; /* Esto mantendrá la proporción de tu GIF */
    transform: translate(-50%);
    left: 50%;
}
=======
>>>>>>> e4ab9e5aa22557532876aaf94b386a3e47dfc982
